<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css')}} ">
    </head>
<body>
    <div class="nav">
        <div>
            <a href='/blog'>Main Blog Page</a>
        </div>
        <div>
            <a href='/newpost'>Add a Blog Entry</a>
        </div>
        <div>
            <a href='/logout'>Logout</a>
        </div>
    </div>
    



    {% block content %}
    {% endblock %}

</body>
</html>