<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css')}} ">
    </head>
<body>
    <div class="nav">
        <div>
            <a href='/'>Home</a>
        </div>
        <div>
            <a href='/blog'>All Posts</a>
        </div>
        <div>
            <a href='/newpost'>Add a Blog Entry</a>
        </div>
        {% if session['username'] %}
            <div>
                <a href="/blog?user_posts=1">My Posts</a>
            </div>
            <div>
                <a href='/logout'>Logout</a>
            </div>
        {% else %}
            <div>
                <a href='/login'>Login</a>
            </div>
        {% endif %}
    </div>
    



    {% block content %}
    {% endblock %}

</body>
</html>