{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog!</h1>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
        {% for blog in blogs | reverse %}
        <div class="blog-post">
            <a href="/blog?blog_id={{blog.id}}"><h2>{{blog.title}}</h2></a>
            <p>{{blog.body}}</p>
            <p class="author">written by <a href="/blog?user_id={{blog.owner_id}}">{{blog.owner.username}}</a></p>
            <hr />
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}